#go{
    color: #00B9E6;
    background-color: white;
    border: 1px solid #00B9E6;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    text-decoration: none;
}

#go:hover{
    transition: 0.5s;
    color: white;
    background-color: #00B9E6;
}

.form-group.col-md-3{
    width: 20px;
}
